extends ../layout

block content
  .panel.panel-default
    table.table.table-striped.table-bordered
      thead
        tr
          th #
          th Type
          th Difficulty
          th Time
          th Players
          - if (session.user && session.user.admin)
            th Actions
      tbody
        - each arena, a in arenas
          tr
            td 
              = a + 1
            td 
              = arena.type
            td
              = arena.difficulty
            td
              = arena.time
            td
              - each user, u in arena.users
                = user.username
            - if (session.user && session.user.admin)
              td
                form(action='/arenas/#{arena._id}', method='POST')
                  input(type='hidden', name='_method', value='DELETE')
                  input.btn.btn-danger.btn-sm(type='submit', value='Delete')
                  
           
          
