extends ../layout

block content
  .panel.panel-default
    table.table.table-striped.table-bordered
      thead
        tr
          th #
          th Mode
          th Difficulty
          th Time
          th Player 1
          th Player 2
          - if (session.user && session.user.admin)
            th Actions
      tbody
        - each arena, a in arenas
          tr
            td 
              = a + 1
            td 
              = arena.formattedMode
            td
              = arena.formattedDifficulty
            td
              = arena.formattedTime
            td
              - if (arena.users[0])
                = arena.users[0].username
            td
              - if (arena.users[1])
                = arena.users[1].username
                
            - if (session.user && session.user.admin)
              td
                form(action='/arenas/#{arena._id}', method='POST')
                  input(type='hidden', name='_method', value='DELETE')
                  input.btn.btn-danger.btn-sm(type='submit', value='Delete')
                  
           
          
