extends ../layout

block extendedHead
  script(type='text/javascript', src='/js/arena.js')
  script(type='text/javascript', src='/js/user.js')

block content
  .row
    .panel.panel-default.col-md-4.col-md-offset-1
      .panel-body.text-center#starting-in Game will start in 5
    .panel.panel-default.col-md-4.col-md-offset-2
      .panel-body.text-center#time-remaining
        = arena.formattedTime
  - if (arena.mode == 'multiplayer')    
    .row.waiting-for-players
      .panel.panel-default.col-md-4.col-md-offset-4.text-center Waiting for other players...

  .well
    = 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?'
  p
    form
      .form-group
        .row
          .col-md-6
            textarea.form-control.typing-area(rows=4)
          .col-md-6
            .panel.panel-default#user-stats-wrapper
              include _users_stats

  input#user-id(type='hidden', value=session.user._id)
                
                      
  #results-modal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(data-dismiss='modal') &times;
          h3.modal-title Results
          .modal-body
            form.form-horizontal(action='/users/#', method='post')
              input(type="hidden" name="_method" value="PUT")
              .form-group
                label.col-sm-4.control-label Time Played
                .col-sm-4
                  input.form-control#time-played(type="text", disabled='true', name="time")
              .form-group
                label.col-sm-4.control-label WPM
                .col-sm-4
                  input.form-control#wpm(type="text", disabled='true', name="wpm")
              .form-group
                label.col-sm-4.control-label Accuracy
                .col-sm-4
                  input.form-control#accuracy(type="text", disabled='true', name="accuracy")
              .modal-footer
                button.btn.btn-primary(type='button' data-dismiss='modal') OK
          
