extends layout

block content
  .container
    .jumbotron
      h2 New Arena
      form.form-horizontal(action='arenas/create', method='post')
        .form-group
          label.col-sm-2.control-label Type
          .col-sm-4
            select.form-control(name='players')
              option(value='1') Singleplayer
              option(value='2') Multiplayer
        .form-group
          label.col-sm-2.control-label Difficulty
          .col-sm-4
            select.form-control(name='difficulty')
              option(value='easy') Easy
              option(value='medium') Medium
              option(value='hard') Hard
        .form-group
          label.col-sm-2.control-label Time
          .col-sm-4
            select.form-control(name='time')
              option(value='short') Short
              option(value='normal') Normal
              option(value='quick') Quick
        input(name='userId' type='hidden' value=session.user._id)
        input.btn.btn-success(type='submit', value='Play')
