extends layout

block content
  .container
    .jumbotron
      h2 New Arena
      form.form-horizontal(action='arenas/create', method='post')
        .form-group
          label.col-sm-2.control-label Mode
          .col-sm-4
            select.form-control(name='mode')
              option(value='singleplayer') Singleplayer
              option(value='multiplayer') Multiplayer
        .form-group
          label.col-sm-2.control-label Difficulty
          .col-sm-4
            select.form-control(name='difficulty')
              option(value='easy') Easy
              option(value='medium') Medium
              option(value='hard') Hard
        .form-group
          label.col-sm-2.control-label Time
          .col-sm-4
            select.form-control(name='time')
              option(value='30') 00:30
              option(value='60') 01:00
              option(value='120') 02:00
        input(name='userId' type='hidden' value=session.user._id)
        input.btn.btn-success(type='submit', value='Play')
