html
  include layout/_head

  body
    include layout/_nav
    include layout/_flash
    include layout/_login_modal

    block content
    
    footer
      .site-footer
        p.text-muted.text-center Typester
    
            
    
    
