extends layout

block content
  .container
    .jumbotron
      h1 Welcome to typester

      h3.lead Create an account or play as a guest
      form.form-horizontal(action='/users/create', method='post')
        .form-group
          label.col-sm-2.control-label(for='username') Username
          .col-sm-4
            input#username.form-control(type="text", name="username", placeholder="Username")
        .form-group
          label.col-sm-2.control-label(for='Email') Email
          .col-sm-4
            input#email.form-control(type="email", name="email" placeholder="Email")
        .form-group
          label.col-sm-2.control-label(for='Password') Password
          .col-sm-4
            input#password.form-control(type="password", name="password", placeholder="Password")
        input.btn.btn-primary(type='submit')
        button.btn.btn-link Play as guest
