body {
  padding: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  height: 50px;
}

footer .site-footer {
  margin: auto;
  border-top: 1px solid #eee;
}

footer .site-footer p {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px !important;
}

footer .site-footer p img {
  opacity: 0.5;
}

.navbar-brand {
  padding: 10px 0px 0px 10px !important;
}

.navbar-right {
  margin-right: 0px !important;
}

.alert {
  margin: 2% !important;
}

input[type=checkbox] {
  margin: 10px 0 0 !important;
}

.row .panel {
  font-size: 20px;
}

.well {
  font-size: 16px;
}

textarea {
  resize: none;
}

a.guest-login {
  margin-left: 15px;
}
