head
  title typester
  
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')

  script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
  script(type='text/javascript', src='/js/bootstrap.min.js')
  script(type='text/javascript', src='/js/helpers.js')
  
  block extendedHead
